.twoTimesButton{
    color: #919191;
    font-weight: bold;
    font-size: 15px;
    background-color: transparent;
    border: none;
    margin-left: 10px;
    padding: 8px;
    border-radius: 4px;
}

.twoTimesButton:active:hover {
    background-color: rgba(0,0,0, .1);
}

.twoTimesButton.active {
    color: #ffffff;
    background-color: #06d755;
}

.twoTimesButton.active:hover {
    background-color: #05aa40;
}
